/* You can add global styles to this file, and also import other style files */
:root{
  color-scheme: #5e5c5c;
}
body{
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
